@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Keep the font styling and set the base background color */
    @apply text-gray-300 font-mono antialiased min-h-screen relative z-0;
    background-color: #121212; 
  }
}

/* Custom scrollbar to match the aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #262626; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}